.row
	.col.m6.offset-m3.center
		%h5 Change your password

		= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :put}) do |f|
			= render partial: "shared/devisemes"
			=f.hidden_field :reset_password_token

			.input-field
				= f.password_field :password, autocomplete: "off", :id => "password", :class => "validate", :placeholder => "New Password "

			.input-field
				= f.password_field :password_confirmation, autocomplete: "off", :id => "password_confirmation", :class => "validate", :placeholder => "Confirm new password"

			%button.btn.waves-effect.waves-light
				Send me reset password instructions


