%header
	-# Dropdown Structure
	%ul#dropdown1.dropdown-content
		%li
			=link_to "My Profile", edit_user_registration_path
		%li
			%a{:href => "#!"} My Courses
		%li.divider
		%li
			=link_to("Log Out", destroy_user_session_path, method: :delete)
	%ul#dropdown2.dropdown-content
		%li
			=link_to "My Profile", edit_user_registration_path
		%li
			%a{:href => "#!"} My Courses
		%li.divider
		%li
			=link_to("Log Out", destroy_user_session_path, method: :delete)

	%nav.blue.lighten-1
		.container
			.nav-wrapper
				=link_to "VideoLearning", root_path, class: 'brand-logo'
				%a.button-collapse{"data-activates" => "mobile-demo", :href => "#"}
					%i.mdi-navigation-menu
				%ul.right.hide-on-med-and-down
					%li
						%a{:href => "#"} Courses
					-if(!user_signed_in?)
						%li=link_to "Sign Up", new_user_registration_path
						%li=link_to "Login", new_user_session_path
					-else
						-#Dropdown trigger
						%li
							%a.dropdown-button.valign-wrapper{"data-activates" => "dropdown1", :href => "#!"}
								=image_tag avatar_url(current_user), class: "circle responsive-img"
								&nbsp;
								=current_user.name
								%i.mdi-navigation-arrow-drop-down.right

				%ul#mobile-demo.side-nav
					%li
						%a{:href => "#"} Courses
					-if !user_signed_in?
						%li=link_to "Sign Up", new_user_registration_path
						%li=link_to "Login", new_user_session_path
					-else
						-#Dropdown trigger
						%li
							%a.dropdown-button.valign-wrapper{"data-activates" => "dropdown2", :href => "#!"}
								=image_tag avatar_url(current_user), class: "circle responsive-img"
								&nbsp;
								=current_user.name
								%i.mdi-navigation-arrow-drop-down.right
