%h3 About Me
.card.z-depth-3
  .row
    .card-content.white-text
      .col.m6
        %a.twitter-timeline{"data-widget-id" => "587633580509044736", :href => "https://twitter.com/Code4Startup"} Tweets by @Code4Startup
        :javascript
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
      .col.m6
        .card-panel.grey.lighten-5.z-depth-1
          .row.valign-wrapper
            /
              <div class="col m3">
              <haml_loud> image_tag &quot;avatar.jpg&quot;, class: &quot;circle responsive-img&quot; </haml_loud>
              </div>
            .col.m9
              %span.black-text
                I don't know what to say. Let the world tell you more... :)
