.row
	.col.m6.offset-m3.center
		%h5 Log in
		= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
			= devise_error_messages!
			.input-field
				=f.text_field :name, autofocus:true, :class => "validate", :placeholder => "Name"

			.input-field
				= f.email_field :email, :class => "validate", :placeholder => "Email"

			.input-field
				= f.password_field :password, autocomplete: "off", :class => "validate", :placeholder => "Password"

			%button.btn.waves-effect.waves-light
				Login

			=link_to "Forgot Password", new_user_password_path, :class => "btn waves-effect waves-light"


