@import "materialize";
@import "toastr";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.container {
	width: 95%;
}

.paragraph-spacing{
	p{margin-bottom: 1rem !important;}
}

.listable{
	li{
		list-style-type: disc !important;
		list-style-position: inside !important;
		margin-left: 1rem !important;
	}
}

.avatar-small {
	width: 50px;
}

.avatar-medium {
	width: 80px;
}
