=simple_form_for([@project, @review]) do |f|
	#user_stars
	=f.text_area :comment, rows: 8, placeholder: "Your comment here...", class: "materialize-textarea"
	=f.hidden_field :project_id, :value => @project.id
	=f.hidden_field :user_id, :value => current_user.id

	%button.btn.waves-effect.waves-light{type: "submit"} Send Review
	%br/
	%br/

:javascript
	$('#user_stars').raty({
		path: '/assets',
		scoreName: 'review[star]',
		score: 0
	})


