-if @reviews.blank? || !user_signed_in?
	%span.center There is no reviews yet

-else
	-@reviews.order("id desc").each do |r|
		%hr/
		.row
			.col.m1
				=image_tag avatar_url(r.user), class: "circle responsive-img avatar-small"
			.col.m10
				%div
					%strong=r.user.name
					%span.right=time_ago_in_words(r.created_at, include_seconds: true)
				%div{id: "stars_#{r.id}"}
				%div=r.comment
				%div
					=link_to "Remove", [@project, r], method: :delete, data: {confirm: "Are you Sure?"} if r.user == current_user

		:javascript
			$('#stars_#{r.id}').raty({
				path: '/assets',
				readOnly: true,
				score: #{r.star}
			});
